.theme-color,
.itg-button-simple:hover ,
.itg-button-simple,
.count-icn,
.footer-list ul li a:hover,
.social-icon ul li a:hover,
.active a,
.breadcrumb-text h3,
.comment-box p a:hover,
.pages ul li a:hover,
.blog-details p span a:hover,
.blog-details h4 a:hover,
.service-details h4 a:hover,
.wa-theme-color,
.contractors a i,
.counters-icon:hover.counters-icon h5,
.counters-icon:hover .counter,
.serach-popup-box #search .close,
.blog-text p a:hover,
.blog-text h4 a:hover,
ul.val li {
    color: #dca44b;
}
.itg-button:hover,
.nav .open > a:focus,
.nav .open > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.owl-theme .owl-nav .owl-prev:hover,
.owl-theme .owl-nav .owl-next:hover,
.contractors:hover,
.theme-heading h3:before,
figure.hover-effect:before,
.about-us h3:after,
.team-member:hover .members-detail,
.package:hover .itg-button,
#testimonial .owl-next:hover,
#testimonial .owl-prev:hover,
.contact-icn i,
.contact h3:after,
a.itg-button.blog-btn,
.blog:hover .blog-detail,
.news-letter button:hover,
button.button-style,
.tags ul li a:hover,
.pagination-box span:hover,
.faqs-detail h5,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover,
.contact-icn ul li i:hover,
.count-area,
#style-switcher h2 a,
.counters-icon:hover a i.count-icn,
.serach-popup-box #search .btn:hover,
.blog-detail:before,
.footer-detail,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.package-detail h4:before {
    background-color: #dca44b;
}
.footer-part h5:after,
.tags ul li a:hover,
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active,
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {
    border-color: #dca44b;
}
.footer-detail:before,
.footer-detail:after {
	border-bottom-color: #cc960e;
